@charset "UTF-8";

@media screen and (min-width: 768px) {
    .container {
        background-image: linear-gradient(to  top, lightblue, lightgreen);
    }

    .content {
        width: 90vw;
    }

    .img {
        float: left;
        width: 30%;
        height: 100%;
    }

    .formulario {
        float: right;
        width: 70%;
        text-align: center;
    }

    .div-login {
        width: 80%;
    }

    .content form input[type="button"] {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .container {
        height: 110vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .content {
        width: 80vw;
    }

    .img {
        float: left;
        width: 45%;
        height: 100%;
    }

    .formulario {
        float: right;
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div-login input {
        font-size: 18px;
    }

    .div-login-text {
        width: 70%;
        padding: 10px;
    }
}

@media screen and (min-width: 992px) {
    .content {
        width: 80vw;
        max-width: 850px;
    }

    .img {
        float: right;
        width: 50%;
        height: 100%;
    }

    .formulario {
        float: left;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div-login {
        width: 80%;
    }

    .div-login input {
        font-size: 18px;
    }

    .div-login-text {
        width: 70%;
        padding: 10px;
    }
}